#first-block, #second-block, #third-block, #fourth-block {
text-align:center;
padding:3.5em 0;
}
#carousel {
text-align:center;
background:#e5e5e5;
}
#first-block {
background:#fff;
}
#second-block {
background:#e5e5e5;
}
#third-block {
background:#fff;
}
#fourth-block {
background:#e5e5e5;
}
footer {
background:#fff;
padding:3.5em 0;
}
@media screen and (max-width: 768px) {
  .right {
  float:none;
  }
}

#slider{position:relative; overflow:hidden;}
/*#slider a, #slider ul, #slider img{margin:0; padding:0; border:none; outline:none; list-style:none; text-decoration:none;}/**/
#slide-wrapper, #slide-wrapper figure, #slide-wrapper img{display:block; overflow:hidden;}
/*#slide-wrapper figure, #slide-wrapper figure img{position:relative;}/**/
#slide-wrapper figure figcaption{display:block; position:absolute; top:50px; right:25px; width:450px; height:350px; margin:0; padding:30px; box-sizing:border-box; overflow:hidden;}
#slide-wrapper figure figcaption p{margin:0; padding:0; line-height:1.6em; text-align: justify;}

#slide-wrapper figure figcaption p.right {margin:40px;}
#slide-wrapper figure figcaption p.right a:hover {color: #951215;}
.rounded, #slide-wrapper figcaption{border-radius:8px;}

#slide-wrapper figure figcaption{color:#666666; background-color:rgba(255,255,255,.8);}
#slide-wrapper figure figcaption:hover{background-color:rgba(255,255,255,1);}

@media screen and (min-width:180px) and (max-width:900px) {
  .wrapper{max-width:95%;}
  #slide-wrapper figure figcaption{display:none;}    
}

#first-block a:hover > h2{background: #951215; color:#fff;}
#first-block a:hover > p{color: #951215;}
